/* SCLP | Styling Command Line Panel */
@font-face {
  font-family: "Kawasaki Regular";
  src: url("../Assets/Fonts/kawasaki-sans-regular.ttf");
}

@font-face {
  font-family: "Kawasaki Medium";
  src: url("../Assets/Fonts/kawasaki-sans-medium.ttf");
}

:root {
  --scroll-bar: #161616;
  --scroll-thumb: #505050;
  --background: #000000;
  --font: #fbfbfb;
  --scroll-bar: #000000;
  --scroll-thumb: #505050;
  --header-bg: #0f0f0f90;
  --header-font: #cdcdcdff;
  --header-font-hover: #ffffff;
  --search-bar-border: #acacac96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--font);
}

body {
  font-family: "Kawasaki Regular";
  overflow-x: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
  background: var(--scroll-bar);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 5px;
}

/* Loader */

.loader {
  height: 100vh;
  /* width: 100%; */
  /* Uncomment to disable loader */
  display: none;
}

.loader-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-text {
  height: 50%;
  width: 100%;
}

.loader-text-housing {
  /* background: #242424; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 2rem;
}

.loader-text-housing h1 {
  font-family: "Kawasaki Regular";
  font-size: 1.5rem;
  position: absolute;
}

.loader-text-1-span {
  color: var(--font);
  opacity: 0;
  padding: 1px;
  filter: blur(5px);
}

.loader-text-2-span {
  color: var(--font);
  opacity: 0;
  padding: 1px;
  filter: blur(5px);
}

.loader-text-3-span {
  color: var(--font);
  opacity: 0;
  padding: 1px;
  filter: blur(5px);
}

.loader-loading-animation {
  height: 50%;
  width: 100%;
  opacity: 0;
}

.loader-loading-animation-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding-top: 2rem;
}

.loader-loading-bar {
  border-radius: 10px;
  background: rgb(28, 28, 28);
  height: 5px;
  width: 15%;
}

.loading-bar-completion {
  border-radius: 10px;
  background: #0dff0088;
  height: 100%;
  width: 10%;
}

.loader-loading-count {
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.loading-bar {
  height: 2px;
  width: 100%;
}

.loading-bar-housing {
  height: 100%;
  width: 100%;
}

.loading-progress {
  background: #4dff00;
  height: 100%;
  width: 0%;
}

/* Root */
/* Temporary */
.under-construction {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  user-select: none;
}

.under-construction h1 {
  font-size: 2rem;
}

.under-construction p {
  font-size: 0.8rem;
}

header {
  background-color: var(--header-bg);
  backdrop-filter: blur(60px);
  height: 7vh;
  width: 100%;
  padding-inline: 3vw;
  position: fixed;
  top: 0;
  user-select: none;
  z-index: 99;
}

.header-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-holder {
  height: 100%;
  width: 50%;
}

.logo-holder-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.logo-holder-housing a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.logo-part-1 {
  overflow: hidden;
}

.logo-part-1 img {
  height: 30px;
  width: 30px;
}

.logo-part-2 {
  overflow: hidden;
}

.logo-part-2 img {
  height: 18px;
  width: auto;
}

.header-contents-holder {
  height: 100%;
  width: 50%;
}

.header-contents-holder-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-nav {
  height: 100%;
  width: 40%;
}

.header-nav nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.header-nav nav a {
  color: var(--header-font);
  white-space: nowrap;
  font-size: 0.9rem;
  font-family: "Kawasaki Regular";
  text-decoration: none;
  position: relative;
  display: flex;
  transition: all ease-in-out 300ms;
}

.header-nav nav a:hover {
  color: var(--header-font-hover);
}

.header-nav nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 1%;
  background-color: var(--header-font-hover);
  transition: all ease-in-out 400ms;
}

.header-nav nav a:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1%;
  background-color: var(--header-font);
  transition: all ease-in-out 400ms;
}

.search-unit {
  height: 100%;
  width: 40%;
}

.search-unit-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divider {
  height: 30%;
  width: 3px;
}

.search-unit-housing input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--header-font);
  padding: 10px;
  font-size: 0.8rem;
  font-family: "Kawasaki Regular";
  transition: all ease-in-out 400ms;
}

.search-unit-housing input::placeholder {
  transition: all ease-in-out 400ms;
}

.search-unit-housing input:hover::placeholder {
  color: var(--header-font);
  transition: all ease-in-out 400ms;
}

.search-unit-housing input:focus::placeholder {
  color: var(--header-font);
  transition: all ease-in-out 400ms;
}

.search-divider {
  height: 30%;
}

.search-unit-housing button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.search-unit-housing button img {
  height: 18px;
  width: 18px;
}

.menu-icon {
  height: 100%;
  width: 10%;
}

.menu-icon-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 300vh;
  width: 100%;
  margin-top: 5vh;
}

.hero-section {
  height: 80vh;
  width: 100%;
}

.hero-section-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-video {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-video video {
  height: auto;
  /* width: 100% !important; */
  width: 100%;
  position: absolute;
}

.hero-contents {
  border-radius: 10px;
  background: #252525a9;
  color: var(--font);
  height: 100%;
  width: 100%;
  backdrop-filter: contrast(1.2);
  font-family: "Kawasaki Regular";
  z-index: 1;
}

.hero-contents-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding-bottom: 6rem;
}

.hero-contents-housing h1 {
  font-size: 2rem;
  position: relative;
}

.hero-contents-housing img {
  height: 100px;
}

.hero-button-wrapper {
  border: 1px solid rgb(142, 142, 142);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.hero-button {
  border-radius: 10px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

.hero-button-text {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 3;
}

.hero-button-mover {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.hero-button img {
  border-radius: 100px;
  height: 17px;
}
