/* SCLP | Styling Command Line Panel */
@font-face {
  font-family: "Kawasaki Regular";
  src: url("../Assets/Fonts/kawasaki-sans-regular.ttf");
}

@font-face {
  font-family: "Kawasaki Medium";
  src: url("../Assets/Fonts/kawasaki-sans-medium.ttf");
}

:root {
  --scroll-bar: #161616;
  --scroll-thumb: #505050;
  --background: #000000;
  --font: #fbfbfb;
  --scroll-bar: #000000;
  --scroll-thumb: #505050;
  --header-bg: #0f0f0f90;
  --header-font: #cdcdcdff;
  --header-font-hover: #ffffff;
  --search-bar-border: #acacac96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--font);
  width: 100%;
}

body {
  font-family: "Kawasaki Regular";
  position: relative;
  overflow-x: hidden;
  /* min-height: 100vh; */
}

/* Scrollbar */
::-webkit-scrollbar {
  background: var(--scroll-bar);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 5px;
}

/* Loader */
.loader {
  height: 100vh;
  width: 100%;
  /* Uncomment to disable loader */
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: all;
}

.loader-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-text {
  height: 50%;
  width: 100%;
}

.loader-text-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 2rem;
}

.loader-text-housing h1 {
  font-family: "Kawasaki Regular";
  font-size: 1.5rem;
  position: absolute;
}

.loader-text-1-span {
  color: var(--font);
  opacity: 0;
  padding: 1px;
  filter: blur(5px);
}

.loader-text-2-span {
  color: var(--font);
  opacity: 0;
  padding: 1px;
  filter: blur(5px);
}

.loader-text-3-span {
  color: var(--font);
  opacity: 0;
  padding: 1px;
  filter: blur(5px);
}

.loader-loading-animation {
  height: 50%;
  width: 100%;
  opacity: 0;
}

.loader-loading-animation-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding-top: 2rem;
}

.loader-loading-bar {
  border-radius: 10px;
  background: rgb(28, 28, 28);
  height: 5px;
  width: 15%;
}

.loading-bar-completion {
  border-radius: 10px;
  background: #0dff0088;
  height: 100%;
  width: 10%;
}

.loader-loading-count {
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.loading-bar {
  height: 2px;
  width: 100%;
}

.loading-bar-housing {
  height: 100%;
  width: 100%;
}

.loading-progress {
  background: #4dff00;
  height: 100%;
  width: 0%;
}

/* Root */
/* Temporary */
.under-construction {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  user-select: none;
}

.under-construction h1 {
  font-size: 2rem;
}

.under-construction p {
  font-size: 0.8rem;
}

header {
  background-color: var(--header-bg);
  backdrop-filter: blur(60px);
  height: 7vh;
  width: 100%;
  padding-inline: 3vw;
  position: fixed;
  top: 0;
  user-select: none;
  z-index: 99;
}

.header-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-holder {
  height: 100%;
  width: 50%;
}

.logo-holder-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.logo-holder-housing a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.logo-part-1 {
  overflow: hidden;
}

.logo-part-1 img {
  height: 30px;
  width: 30px;
}

.logo-part-2 {
  overflow: hidden;
}

.logo-part-2 img {
  height: 18px;
  width: auto;
}

.header-contents-holder {
  height: 100%;
  width: 50%;
}

.header-contents-holder-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-nav {
  height: 100%;
  width: 40%;
}

.header-nav nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.header-nav nav a {
  color: var(--header-font);
  white-space: nowrap;
  font-size: 0.9rem;
  font-family: "Kawasaki Regular";
  text-decoration: none;
  position: relative;
  display: flex;
  transition: all ease-in-out 300ms;
}

.header-nav nav a:hover {
  color: var(--header-font-hover);
}

.header-nav nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 1%;
  background-color: var(--header-font-hover);
  transition: all ease-in-out 400ms;
}

.header-nav nav a:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1%;
  background-color: var(--header-font);
  transition: all ease-in-out 400ms;
}

.search-unit {
  height: 100%;
  width: 40%;
}

.search-unit-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divider {
  height: 30%;
  width: 3px;
}

.search-unit-housing input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--header-font);
  padding: 10px;
  font-size: 0.8rem;
  font-family: "Kawasaki Regular";
  transition: all ease-in-out 400ms;
}

.search-unit-housing input::placeholder {
  transition: all ease-in-out 400ms;
}

.search-unit-housing input:hover::placeholder {
  color: var(--header-font);
  transition: all ease-in-out 400ms;
}

.search-unit-housing input:focus::placeholder {
  color: var(--header-font);
  transition: all ease-in-out 400ms;
}

.search-divider {
  height: 30%;
}

.search-unit-housing button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.search-unit-housing button img {
  height: 18px;
  width: 18px;
}

.menu-icon {
  height: 100%;
  width: 10%;
}

.menu-icon-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 300vh;
  width: 100%;
  margin-top: 5vh;
}

.hero-section {
  height: 80vh;
  width: 100%;
}

.hero-section-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-video {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-video video {
  height: auto;
  /* width: 100% !important; */
  width: 100%;
  position: absolute;
}

.hero-contents {
  border-radius: 10px;
  background: #252525a9;
  color: var(--font);
  height: 100%;
  width: 100%;
  backdrop-filter: contrast(1.2);
  font-family: "Kawasaki Regular";
  z-index: 1;
}

.hero-contents-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding-bottom: 6rem;
}

.hero-contents-housing h1 {
  font-size: 2rem;
  position: relative;
}

.hero-contents-housing img {
  height: 100px;
}

.hero-button-wrapper {
  border: 1px solid rgba(93, 93, 93, 0.474);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.hero-button {
  border-radius: 10px;
  background: #121212a4;
  backdrop-filter: blur(50px);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

.hero-button-text {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 3;
}

.hero-button-mover {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.hero-button img {
  border-radius: 100px;
  height: 17px;
}

.placeholder-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.card-section-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.heading-container h1 {
  font-size: 3rem;
  font-weight: 900;
  pointer-events: none;
  z-index: 9;
}

.dot-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dot {
  position: absolute;
  background-color: #969696;
  border-radius: 50%;
}

.shooting-star {
  background-color: #ffffff;
  height: 30px;
  width: 3px;
  position: absolute;
  opacity: 0;
  transform: rotate(315deg);
}

.star-1 {
  top: 0;
  left: 20%;
}

.star-2 {
  top: 0;
  left: 5%;
}

.star-3 {
  top: 0;
  left: 50%;
}

.star-4 {
  top: 0;
  left: 80%;
}

.star-5 {
  top: 0;
  left: 35%;
}

.cards-holder {
  height: 70%;
  width: 100%;
  position: relative;
}

.cards-holder-housing {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5vw;
  white-space: nowrap;
  padding-inline: 10%;
}

.cards {
  border: 1px solid rgb(54, 54, 54);
  border-radius: 1rem;
  background: #212121a2;
  height: 470px;
  width: 500px;
  user-select: none;
}

.cards-indicator {
  border: none;
  border-radius: 100rem;
  height: 10vh;
  width: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cards-indicator img {
  object-fit: contain;
  height: 25px;
}

.cards-housing {
  height: 100%;
  width: 100%;
}

.cards-graphics {
  height: 65%;
  width: 100%;
}

.cards-graphics-housing {
  height: 100%;
  width: 100%;
  padding: 3% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards-ambient-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backdrop-image {
  width: 120%;
  height: 120%;
  position: absolute;
  object-fit: fill;
  opacity: 0.5;
}

.cards-image-housing {
  background: rgba(17, 17, 17, 0.382);
  height: 100%;
  width: 100%;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 10px 20px rgba(17, 17, 17, 0.382);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards-image {
  border-radius: 1rem;
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card-main-img {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.cards-content {
  height: 35%;
  width: 100%;
}

.cards-content-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-inline: 5%;
}

.card-text {
  height: 100%;
  width: 50%;
}

.card-heading {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-heading h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.card-about {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-about p {
  color: rgb(212, 212, 212);
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-price-tag {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.card-price-tag p {
  color: rgb(212, 212, 212);
  font-size: 0.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-button-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-button-wrapper {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.card-button {
  border-radius: 10px;
  height: 3rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

.card-button-text {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  z-index: 3;
}

.card-button-mover {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.loader {
  display: none;
}

.root {
  display: none;
}