/* SCLP | Styling Command Line Panel */
@font-face {
  font-family: "Kawasaki Regular";
  src: url("../Assets/Fonts/kawasaki-sans-regular.ttf");
}

@font-face {
  font-family: "Kawasaki Medium";
  src: url("../Assets/Fonts/kawasaki-sans-medium.ttf");
}

/* Glitch Catcher 5000 */

:root {
  --scroll-bar: #161616;
  --scroll-thumb: #616161;
  --loader-bg: #000;
  --loader-font: #ffffff;
  --background: #000000;
  --font: #ffffff;
  --header-bg: #0f0f0f90;
  --header-font: #cdcdcdff;
  --header-font-hover: #ffffff;
  --search-bar-border: #acacac96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all ease-in-out 300ms;
}

html,
body {
  background-color: var(--background);
  color: var(--font);
  min-height: 100vh;
  width: 100%;
}

body {
  position: relative;
  font-family: "Kawasaki Regular";
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: var(--scroll-bar);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

/* Loader Styling */
.loader {
  background-color: var(--loader-bg);
  color: var(--loader-font);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  transition: none;
  z-index: 10;

  /* Uncomment to disable the loader */
  /* display: none; */
}

.loader-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.loading-bar {
  height: 2px;
  width: 100%;
}

.loading-progress {
  border-radius: 10px;
  background-color: rgb(0, 255, 76);
  height: 100%;
  width: 0%;
  transition: none;
}

.loader-contents {
  height: 100vh;
  width: 100%;
}

.loader-contents-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader-texts {
  position: absolute;
  font-size: 1.3rem;
}

.loader-text-span-1 {
  opacity: 0;
  filter: blur(10px);
}

.loader-text-span-2 {
  opacity: 0;
  filter: blur(10px);
}

.loader-text-span-3 {
  opacity: 0;
  filter: blur(10px);
}

.root {
  height: 100vh;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* Comment to disable Loader */
  opacity: 0;
}

header {
  background-color: var(--header-bg);
  height: 7vh;
  width: 100%;
  padding-inline: 2vw;
  user-select: none;
}

.header-housing {
  height: 100%;
  width: 100%;
  display: flex;
}

.header-logo-holder {
  height: 100%;
  width: 30%;
}

.header-logo-holder-housing {
  /* background-color: #2a2a2a7f; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#header-logo-1 {
  height: 24px;
  width: auto;
}

#header-logo-2 {
  height: 16px;
  width: auto;
}

.header-contents-holder {
  /* background-color: #00726166; */
  height: 100%;
  width: 70%;
}

.header-contents-holder-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-nav {
  height: 100%;
  width: 30%;
}

.header-nav nav {
  /* background-color: rgb(255, 0, 0); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-nav nav a {
  color: var(--header-font);
  white-space: nowrap;
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  position: relative;
  transition: all ease-in-out 400ms;
}

.header-nav nav a:hover {
  color: var(--header-font-hover);
}

.header-nav nav a::before {
  content: "";
  background-color: var(--header-font-hover);
  height: 1px;
  width: 0%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all ease-in-out 400ms;
}

.header-nav nav a:hover::before {
  width: 100%;
  transition: all ease-in-out 400ms;
}

.nav-model-text-span {
  transition: none;
}
.nav-store-text-span {
  transition: none;
}
.nav-services-text-span {
  transition: none;
}
.nav-about-us-text-span {
  transition: none;
}

.header-search {
  height: 100%;
  width: 30%;
}

.header-search-housing {
  /* background-color: rgb(25, 0, 60); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* display: none; */
}

#header-search-bar {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--header-font);
  padding: 10px;
  font-size: 0.7rem;
  font-family: "Kawasaki Regular";
  transition: all ease-in-out 400ms;
}

#header-search-bar::placeholder {
  transition: all ease-in-out 400ms;
}

#header-search-bar:focus::placeholder {
  color: var(--header-font-hover);
  transition: all ease-in-out 400ms;
}

#header-search-bar:hover::placeholder {
  color: var(--header-font-hover);
  transition: all ease-in-out 400ms;
}

.search-divider {
  height: 30%;
  width: auto;
}

.search-divider img {
  height: 100%;
  width: auto;
}

.button-divider {
  height: 30%;
}

.button-divider img {
  height: 100%;
}

#search-button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

#search-button img {
  height: 15px;
  width: auto;
}

.search-for-small {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-icon {
  height: 12px;
  width: auto;
}

.search-icon a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon a img {
  height: 100%;
  width: auto;
}

.header-menu {
  height: 100%;
  width: 5%;
}

.header-menu-housing {
  /* background-color: rgba(47, 255, 0, 0.531); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-housing a {
  /* background-color: rgb(39, 39, 39); */
  height: 22px;
  width: 22px;
}

.header-menu-housing a img {
  /* background-color: black; */
  height: 100%;
  width: 100%;
}

/* Media Queries */
@media (min-width: 1440px) {
  .loader-texts {
    font-size: 1.3rem;
  }
  .header-logo-holder {
    width: 30%;
  }
  .header-contents-holder {
    width: 70%;
  }
  .header-nav {
    width: 30%;
  }
  .header-nav nav a {
    font-size: 0.8rem;
  }
  .header-search {
    width: 30%;
  }
  .header-search-housing {
    display: flex;
  }
  .search-for-small {
    display: none;
  }
  #header-search-bar {
    font-size: 0.7rem;
  }
  .header-menu-housing a {
    height: 22px;
    width: 22px;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .loader-texts {
    font-size: 1.4rem;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    width: 40%;
  }
  header {
    padding-inline: 3vw;
    height: 8vh;
  }
  #header-logo-1 {
    height: 22px;
  }
  #header-logo-2 {
    height: 14px;
  }
  .header-nav nav a {
    font-size: 0.7rem;
  }
  .header-search {
    width: 35%;
  }
  .header-search-housing {
    display: flex;
  }
  .search-for-small {
    display: none;
  }
  #header-search-bar {
    font-size: 0.6rem;
  }
  .header-menu-housing a {
    height: 21px;
    width: 21px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .loader-texts {
    font-size: 1.5rem;
  }
  header {
    padding-inline: 4vw;
    height: 6vh;
  }
  #header-logo-1 {
    height: 22px;
  }
  #header-logo-2 {
    height: 14px;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    width: 45%;
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 10%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.5rem;
  }
  .header-menu-housing a {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 767px) and (min-width: 425px) {
  .loader-texts {
    font-size: 1.3rem;
  }
  header {
    padding-inline: 5vw;
    height: 6vh;
  }
  #header-logo-1 {
    height: 20px;
  }
  #header-logo-2 {
    height: 14px;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    display: none;
    /* width: 60%; */
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 15%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.4rem;
  }
  .header-menu-housing a {
    height: 19px;
    width: 19px;
  }
}
@media (max-width: 424px) and (min-width: 375px) {
  .loader-texts {
    font-size: 1.3rem;
  }
  header {
    padding-inline: 6vw;
    height: 6vh;
  }
  #header-logo-1 {
    height: 21px;
  }
  #header-logo-2 {
    height: 14px;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    display: none;
    /* width: 50%; */
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 20%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.6rem;
  }
  .header-menu {
    width: 10%;
  }
  .header-menu-housing a {
    height: 18px;
    width: 18px;
  }
}
@media (max-width: 374px) and (min-width: 320px) {
  .loader-texts {
    font-size: 1.3rem;
  }
  header {
    padding-inline: 6vw;
    height: 8vh;
  }
  #header-logo-1 {
    height: 17px;
  }
  #header-logo-2 {
    height: 12px;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    display: none;
    /* width: 50%; */
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 20%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.6rem;
  }
  .header-menu {
    width: 10%;
  }
  .header-menu-housing a {
    height: 18px;
    width: 18px;
  }
}
@media (max-width: 319px) {
  .loader-texts {
    font-size: 1rem;
  }
  header {
    padding-inline: 6vw;
    height: 7vh;
  }
  #header-logo-1 {
    height: 19px;
  }
  #header-logo-2 {
    /* height: 12px; */
    display: none;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    /* width: 50%; */
    display: none;
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 20%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.6rem;
  }
  .header-menu {
    width: 10%;
  }
  .header-menu-housing a {
    height: 18px;
    width: 18px;
  }
}
