/* SCLP | Styling Command Line Panel */
@font-face {
  font-family: "Kawasaki Regular";
  src: url("../Assets/Fonts/kawasaki-sans-regular.ttf");
}

@font-face {
  font-family: "Kawasaki Medium";
  src: url("../Assets/Fonts/kawasaki-sans-medium.ttf");
}

/* Glitch Catcher 5000 */

:root {
  --scroll-bar: #161616;
  --scroll-thumb: #616161;
  --selection-bg: #0f0f0f;
  --selection-color: #26ff00;
  --loader-bg: #000;
  --loader-font: #ffffff;
  --background: #000000;
  --font: #f5f5f5;
  --stars: #ffffff;
  --header-border: #20202034;
  --header-bg: #0f0f0f90;
  --header-font: #cdcdcdff;
  --header-font-hover: #ffffff;
  --search-bar-border: #acacac96;
  --hero-bg: #00000076;
  --button: #11111183;
  --button-border: #4e4e4e42;
  --button-mover: #ffffff;
  --cards-border: #2222226f;
  --cards-bg: rgb(11, 11, 11);
  --card-text-pres-1: #ffffff;
  --card-text-pres-2: #d3d3d3;
  --card-text-pres-3: #979797;
  --cards-button-bg: #000000;
}

* {
  color: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all ease-in-out 300ms;
}

html,
body {
  background-color: var(--background);
  color: var(--font);
  min-height: 100vh;
  width: 100%;
}

body {
  position: relative;
  font-family: "Kawasaki Regular";
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: var(--scroll-bar);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color);
}

/* Loader Styling */
.loader {
  background-color: var(--loader-bg);
  color: var(--loader-font);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  transition: none;
  z-index: 10;

  /* Uncomment to disable the loader */
  display: none;
}

.loader-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.loading-bar {
  height: 2px;
  width: 100%;
}

.loading-progress {
  border-radius: 10px;
  background-color: rgb(0, 255, 76);
  height: 100%;
  width: 0%;
  transition: none;
}

.loader-contents {
  height: 100vh;
  width: 100%;
}

.loader-contents-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader-texts {
  position: absolute;
  font-size: 1.3rem;
}

.loader-text-span-1 {
  opacity: 0;
  filter: blur(10px);
}

.loader-text-span-2 {
  opacity: 0;
  filter: blur(10px);
}

.loader-text-span-3 {
  opacity: 0;
  filter: blur(10px);
}

.root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  /* Comment to disable Loader */
  /* opacity: 0; */
}

header {
  background-color: var(--header-bg);
  backdrop-filter: blur(100px);
  height: 7vh;
  width: 100%;
  padding-inline: 2vw;
  position: fixed;
  top: 0;
  user-select: none;
  z-index: 99;
}

.header-housing {
  height: 100%;
  width: 100%;
  display: flex;
}

.header-logo-holder {
  height: 100%;
  width: 30%;
}

.header-logo-holder-housing {
  /* background-color: #2a2a2a7f; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#header-logo-1 {
  height: 24px;
  width: auto;
}

#header-logo-2 {
  height: 16px;
  width: auto;
}

.header-contents-holder {
  /* background-color: #00726166; */
  height: 100%;
  width: 70%;
}

.header-contents-holder-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-nav {
  height: 100%;
  width: 30%;
}

.header-nav nav {
  /* background-color: rgb(255, 0, 0); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-nav nav a {
  color: var(--header-font);
  white-space: nowrap;
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  position: relative;
  transition: all ease-in-out 400ms;
}

.header-nav nav a:hover {
  color: var(--header-font-hover);
}

.header-nav nav a::before {
  content: "";
  background-color: var(--header-font-hover);
  height: 1px;
  width: 0%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all ease-in-out 400ms;
}

.header-nav nav a:hover::before {
  width: 100%;
  transition: all ease-in-out 400ms;
}

.nav-text-span {
  color: var(--header-font);
  transition: linear 100ms;
}

.nav-text-span:hover {
  color: var(--header-font-hover);
}

.header-search {
  height: 100%;
  width: 30%;
}

.header-search-housing {
  /* background-color: rgb(25, 0, 60); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* display: none; */
}

#header-search-bar {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--header-font);
  padding: 10px;
  font-size: 0.7rem;
  font-family: "Kawasaki Regular";
  transition: all ease-in-out 400ms;
}

#header-search-bar::placeholder {
  transition: all ease-in-out 400ms;
}

#header-search-bar:focus::placeholder {
  color: var(--header-font-hover);
  transition: all ease-in-out 400ms;
}

/* #header-search-bar:hover::placeholder {
  color: var(--header-font-hover);
  transition: all ease-in-out 400ms;
} */

.search-divider {
  height: 30%;
  width: auto;
}

.search-divider img {
  height: 100%;
  width: auto;
}

.button-divider {
  height: 30%;
}

.button-divider img {
  height: 100%;
}

#search-button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 7px 10px;
  cursor: pointer;
}

#search-button img {
  height: 15px;
  width: auto;
}
/* 
#search-button:hover {
  border-radius: 5px;
  background-color: #000000;
  transition: all ease-in-out 100ms;
} */

.search-for-small {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-icon {
  height: 12px;
  width: auto;
}

.search-icon a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon a img {
  height: 100%;
  width: auto;
}

.header-menu {
  height: 100%;
  width: 5%;
}

.header-menu-housing {
  /* background-color: rgba(47, 255, 0, 0.531); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-housing a {
  /* background-color: rgb(39, 39, 39); */
  height: 22px;
  width: 22px;
}

.header-menu-housing a img {
  /* background-color: black; */
  height: 100%;
  width: 100%;
}

main {
  min-height: 200vh;
  width: 100%;
}

.hero-section {
  height: 80vh;
  width: 100%;
}

.hero-section-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: none;
}

.hero-video {
  margin-top: -10vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-video-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
}

#hero-video {
  height: auto;
  /* width: 1920px; */
  width: 1920px;
  position: absolute;
  /* display: none; */
}

#hero-image {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: top center;
}

#hero-image-label {
  border-radius: 0.5rem;
  background-color: var(--button);
  backdrop-filter: blur(20px);
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 5px;
  padding-top: 10px;
  /* margin-top: 90%; */
  /* margin-inline: 2vw; */
  padding: 0.5vh;
  padding-inline: 3vw;
  font-size: 0.5rem;
  letter-spacing: 1.2px;
  user-select: none;
  transition: all ease-in-out 300ms;
}

#hero-image-label img {
  height: 12px;
  width: auto;
}

.hero-content {
  background-color: var(--hero-bg);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.hero-content-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  position: relative;
  font-family: "Kawasaki Regular";
  transition: all ease-in-out 300ms;
}

#hero-content-text {
  font-size: 2rem;
}

#ninja-7-hybrid-img {
  height: 7rem;
  user-select: none;
}

.button-wrapper {
  border-radius: 0.5rem;
  transition: none;
}

#hero-button {
  border: 1px solid var(--button-border);
  border-radius: 0.5rem;
  /* background-color: var(--button); */
  background: var(--button);
  backdrop-filter: blur(60px);
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  user-select: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: none;
}

.button-mover {
  border-radius: 1000px;
  background-color: var(--button-mover);
  position: absolute;
  height: 10px;
  width: 10px;
  opacity: 0;
  transition: none;
  pointer-events: none;
  z-index: 0;
}

.button-text {
  text-decoration: none;
  font-family: "Kawasaki Medium";
  font-size: 0.8rem;
  transition: none;
  z-index: 1;
}

#hero-arrow {
  height: 12px;
  width: auto;
  z-index: 1;
}

.card-section {
  height: 80vh;
  width: 100%;
}

.card-section-housing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-family: "Kawasaki Regular";
}

/* .heading {} */

.card-heading {
  border-top: 1px solid var(--header-border);
  border-bottom: 1px solid var(--header-border);
  /* background-color: rgb(15, 15, 15); */
  height: 20%;
  width: 100%;
}

.heading-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card-heading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 2vw;
}

.heading-text {
  background-color: transparent;
  backdrop-filter: blur(4px);
  padding: 10px;
  cursor: default;
  z-index: 2;
}

.card-heading-text {
  font-family: "Kawasaki Regular";
  font-size: 2.2rem;
  letter-spacing: 1.2px;
}

.dots-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.dots {
  border-radius: 50%;
  background-color: var(--stars);
  position: absolute;
  opacity: 0;
  /* display: none; */
  transition: all ease-in-out 10ms;
}

.dots-mobile {
  border-radius: 50%;
  background-color: var(--stars);
  opacity: 0.4;
  position: absolute;
  transition: all ease-in-out 10ms;
  display: none;
}

.stars {
  background-color: var(--stars);
  height: 20px;
  width: 3px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate(315deg);
  transition: none;
}

.star-1 {
  left: 10%;
}

.star-2 {
  left: 75%;
}

.star-3 {
  left: 20%;
}

.star-4 {
  left: 40%;
}

.star-5 {
  left: 55%;
}

.cards-holder {
  height: 80%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  cursor: default;
}

.cards-holder::-webkit-scrollbar {
  display: none;
}

.cards-holder-housing {
  height: 100%;
  width: fit-content;
  /* position: absolute; */
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding-inline: 20%;
  cursor: default;
  transition: none;
}

.cards {
  border: 1px solid var(--cards-border);
  border-radius: 1.5rem;
  background-color: var(--cards-bg);
  height: 476px;
  width: 506px;
  box-shadow: 10px 10px 1px 0px var(--button-border);
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.cards-housing {
  height: 100%;
  width: 100%;
}

.cards-gui {
  height: 70%;
  width: 100%;
}

.cards-gui-housing {
  border-bottom: 1px solid var(--cards-border);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ambient-background {
  position: absolute;
  height: 110%;
  width: 110%;
  opacity: 0.1;
  z-index: 1;
}

.ambient-filter {
  position: absolute;
  height: 100%;
  width: 90%;
  z-index: 2;
}

.main-image {
  border: 1px solid rgba(33, 33, 33, 0.688);
  border-radius: 1.5rem;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.cards-content {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.cards-title {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10%;
  white-space: wrap;
}

.cards-main-title {
  color: var(--card-text-pres-1);
  font-family: "Kawasaki Regular";
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
}

.cards-about {
  color: var(--card-text-pres-2);
  font-family: "Kawasaki Regular";
  font-weight: 200;
  font-size: 0.7rem;
  /* padding-top: 10px; */
}

.cards-check-out {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 25%;
  white-space: wrap;
}

.cards-price {
  color: var(--card-text-pres-2);
  padding-top: 5%;
  font-size: 0.8rem;
  font-family: "Kawasaki Regular";
  font-weight: 200;
}

#cards-button {
  border: 1px solid var(--button-border);
  border-radius: 0.5rem;
  background-color: var(--cards-button-bg);
  color: var(--font);
  padding: 0.8rem 0.8rem;
  display: flex;
  font-size: 0.8rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

/* Media Queries */
@media (hover: none) {
  .button-mover {
    display: none;
  }
  .dots {
    display: none;
  }
  .dots-mobile {
    display: block;
  }
}

@media (min-width: 1440px) {
  .loader-texts {
    font-size: 1.3rem;
  }
  .header-logo-holder {
    width: 30%;
  }
  .header-contents-holder {
    width: 70%;
  }
  .header-nav {
    width: 30%;
  }
  .header-nav nav a {
    font-size: 0.8rem;
  }
  .header-search {
    width: 30%;
  }
  .header-search-housing {
    display: flex;
  }
  .search-for-small {
    display: none;
  }
  #header-search-bar {
    font-size: 0.7rem;
  }
  .header-menu-housing a {
    height: 22px;
    width: 22px;
  }
  .hero-section {
    height: 80vh;
  }
  #hero-video {
    width: 100%;
  }
  #hero-content-text {
    font-size: 2rem;
  }
  #hero-button {
    padding: 0.8rem 1.2rem;
  }
  #ninja-7-hybrid-img {
    height: 7rem;
  }
  .button-text {
    font-size: 0.8rem;
  }
  #hero-image-label img {
    height: 12px;
    width: auto;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .loader-texts {
    font-size: 1.4rem;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    width: 40%;
  }
  header {
    padding-inline: 3vw;
    height: 8vh;
  }
  #header-logo-1 {
    height: 22px;
  }
  #header-logo-2 {
    height: 14px;
  }
  .header-nav nav a {
    font-size: 0.7rem;
  }
  .header-search {
    width: 35%;
  }
  .header-search-housing {
    display: flex;
  }
  .search-for-small {
    display: none;
  }
  #header-search-bar {
    font-size: 0.6rem;
  }
  .header-menu-housing a {
    height: 21px;
    width: 21px;
  }
  .hero-section {
    height: 70vh;
  }
  #hero-content-text {
    font-size: 1.7rem;
  }
  #hero-button {
    padding: 0.8rem 1.2rem;
  }
  #ninja-7-hybrid-img {
    height: 6rem;
  }
  .button-text {
    font-size: 0.8rem;
  }
  #hero-image-label img {
    height: 12px;
    width: auto;
  }
  .card-section {
    height: 70vh;
  }
  .cards {
    height: 446px;
    width: 496px;
  }
  .card-heading-text {
    font-size: 1.9rem;
  }
  .cards-main-title {
    color: var(--card-text-pres-1);
    font-family: "Kawasaki Regular";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
  }
  .cards-about {
    font-size: 0.7rem;
  }
  .cards-price {
    font-size: 0.7rem;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .loader-texts {
    font-size: 1.5rem;
  }
  header {
    padding-inline: 4vw;
    height: 6vh;
  }
  #header-logo-1 {
    height: 22px;
  }
  #header-logo-2 {
    height: 14px;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    width: 45%;
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 10%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.5rem;
  }
  .header-menu-housing a {
    height: 20px;
    width: 20px;
  }
  .hero-section {
    height: 60vh;
  }
  .hero-content-housing {
    justify-content: flex-end;
    padding-bottom: 10%;
  }
  #hero-content-text {
    font-size: 1.5rem;
  }
  #hero-button {
    padding: 0.7rem 1.1rem;
  }
  #ninja-7-hybrid-img {
    height: 5rem;
  }
  .button-text {
    font-size: 0.7rem;
  }
  #hero-image-label img {
    height: 11px;
    width: auto;
  }
  .card-section {
    height: 65vh;
  }
  .card-heading-text {
    font-size: 1.5rem;
  }
  .cards {
    height: 396px;
    width: 436px;
  }
  .cards-about {
    font-size: 0.6rem;
  }
  .cards-price {
    font-size: 0.7rem;
  }
  #cards-button {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) and (min-width: 425px) {
  .loader-texts {
    font-size: 1.3rem;
  }
  header {
    padding-inline: 5vw;
    height: 6vh;
  }
  #header-logo-1 {
    height: 20px;
  }
  #header-logo-2 {
    height: 14px;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    display: none;
    /* width: 60%; */
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 15%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.4rem;
  }
  .header-menu-housing a {
    height: 19px;
    width: 19px;
  }
  .hero-section {
    height: 50vh;
  }
  .hero-content-housing {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10%;
  }
  #hero-content-text {
    font-size: 1.2rem;
  }
  #hero-button {
    padding: 0.6rem 0.8rem;
  }
  #ninja-7-hybrid-img {
    height: 3.5rem;
  }
  #hero-image-label {
    display: flex;
  }
  #hero-video {
    display: none;
  }
  #hero-image {
    display: block;
  }
  .button-text {
    font-size: 0.7rem;
  }
  #hero-image-label img {
    height: 10px;
    width: auto;
  }
  .card-section {
    height: 70vh;
  }
  .card-heading-container {
    justify-content: center;
  }
  .card-heading-text {
    font-size: 1rem;
    white-space: nowrap;
  }
  .cards {
    height: 376px;
    width: 416px;
  }
  .cards-about {
    font-size: 0.6rem;
  }
  .cards-price {
    font-size: 0.6rem;
  }
  #cards-button {
    font-size: 0.7rem;
  }
}
@media (max-width: 424px) and (min-width: 375px) {
  .loader-texts {
    font-size: 1.3rem;
  }
  header {
    padding-inline: 6vw;
    height: 6vh;
  }
  #header-logo-1 {
    height: 21px;
  }
  #header-logo-2 {
    height: 14px;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    display: none;
    /* width: 50%; */
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 20%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.6rem;
  }
  .header-menu {
    width: 10%;
  }
  .header-menu-housing a {
    height: 18px;
    width: 18px;
  }
  .hero-section {
    height: 50vh;
  }
  .hero-content-housing {
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
  }
  #hero-content-text {
    font-size: 1rem;
  }
  #hero-button {
    padding: 0.6rem 0.8rem;
  }
  #ninja-7-hybrid-img {
    height: 2.5rem;
  }
  #hero-image-label {
    position: absolute;
    margin-top: 90%;
    display: flex;
  }
  #hero-video {
    display: none;
  }
  #hero-image {
    display: block;
  }
  .button-text {
    font-size: 0.7rem;
  }
  #hero-image-label img {
    height: 9px;
    width: auto;
  }
  .card-section {
    height: 70vh;
  }
  .card-heading-container {
    justify-content: center;
  }
  .card-heading-text {
    font-size: 0.9rem;
    white-space: nowrap;
  }
  .cards {
    height: 336px;
    width: 366px;
  }
  .cards-about {
    font-size: 0.5rem;
  }
  .cards-price {
    font-size: 0.5rem;
  }
  #cards-button {
    font-size: 0.6rem;
  }
}
@media (max-width: 374px) and (min-width: 320px) {
  .loader-texts {
    font-size: 1.3rem;
  }
  header {
    padding-inline: 6vw;
    height: 8vh;
  }
  #header-logo-1 {
    height: 17px;
  }
  #header-logo-2 {
    height: 12px;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    display: none;
    /* width: 50%; */
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 20%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.6rem;
  }
  .header-menu {
    width: 10%;
  }
  .header-menu-housing a {
    height: 18px;
    width: 18px;
  }
  .hero-section {
    height: 50vh;
  }
  .hero-content-housing {
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
  }
  #hero-content-text {
    font-size: 1rem;
  }
  #hero-button {
    padding: 0.5rem 0.7rem;
  }
  #ninja-7-hybrid-img {
    height: 2.5rem;
  }
  #hero-image-label {
    position: absolute;
    margin-top: 90%;
    display: flex;
  }
  #hero-video {
    display: none;
  }
  #hero-image {
    display: block;
  }
  .button-text {
    font-size: 0.6rem;
  }
  #hero-image-label img {
    height: 8px;
    width: auto;
  }
  .card-section {
    height: 70vh;
  }
  .card-heading-container {
    justify-content: center;
  }
  .card-heading-text {
    font-size: 0.9rem;
    white-space: nowrap;
  }
  .cards {
    height: 336px;
    width: 366px;
  }
  .cards-about {
    font-size: 0.5rem;
  }
  .cards-price {
    font-size: 0.5rem;
  }
  #cards-button {
    font-size: 0.5rem;
  }
}
@media (max-width: 319px) {
  .loader-texts {
    font-size: 1rem;
  }
  header {
    padding-inline: 6vw;
    height: 7vh;
  }
  #header-logo-1 {
    height: 19px;
  }
  #header-logo-2 {
    /* height: 12px; */
    display: none;
  }
  .header-logo-holder {
    width: 20%;
  }
  .header-contents-holder {
    width: 80%;
  }
  .header-nav {
    /* width: 50%; */
    display: none;
  }
  .header-nav nav a {
    font-size: 0.6rem;
  }
  .header-search {
    width: 20%;
  }
  .header-search-housing {
    display: none;
  }
  .search-for-small {
    display: flex;
  }
  #header-search-bar {
    font-size: 0.6rem;
  }
  .header-menu {
    width: 17%;
  }
  .header-menu-housing a {
    height: 18px;
    width: 18px;
  }
  .hero-section {
    height: 40vh;
  }
  .hero-content-housing {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10%;
  }
  #hero-content-text {
    font-size: 0.8rem;
  }
  #hero-button {
    padding: 0.5rem 0.6rem;
  }
  #ninja-7-hybrid-img {
    height: 2rem;
  }
  #hero-image-label {
    display: none;
  }
  #hero-video {
    display: none;
  }
  #hero-image {
    display: block;
  }
  #hero-image-label img {
    height: 7px;
    width: auto;
  }
  .button-text {
    font-size: 0.6rem;
  }
  .card-section {
    height: 70vh;
  }
  .card-heading-container {
    justify-content: center;
  }
  .card-heading-text {
    font-size: 0.9rem;
    white-space: nowrap;
  }
  .cards {
    height: 336px;
    width: 366px;
  }
  .cards-about {
    font-size: 0.5rem;
  }
  .cards-price {
    font-size: 0.5rem;
  }
  #cards-button {
    font-size: 0.6rem;
  }
}
